@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
:root{
    --primary-color: #007AF3;
}
body{
    background: #F2F2F2;
    margin: 0;
    font-family: 'poppins';
}
.navbar{
    background: #fff;
    padding: 1em;

    .logo{
        text-decoration: none;
        font-weight: bold;
        font-size: 1.2em;
        color: #000;

        span{
            color: var(--primary-color);
        }
    }
    nav{
        display: none;
    }
    .container{
        display: flex;
        place-content: space-between;
    }
    .mobile-menu{
        cursor: pointer;
    }
}
a{
    color: #444444;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
section{
    padding: 5em 2em;
}
.hero{
    text-align: center;
}
.left-col{
    .subhead{
        text-transform: uppercase;
        color: #918E8E;
        font-weight: bold;
        letter-spacing: .3em;
    }
    h1{
        font-size: 2.5em;
        line-height: 1.4em;
        margin-top: .2em;
    }
    .primary-cta{
        text-decoration: none;
        background-color: var(--primary-color);
        padding: .6em 1.3em;
        font-size: 1.4em;
        color: #fff;
        border-radius: 5em;
        display: inline-block;
        margin-top: 1em;
    }
    .watch-video-cta{
        display: block;
        margin-top: 1em;

        img{
            margin-right: .5em;
        }
    }
}
.hero-img{
    width: 70%;
    margin-top: 3em;
}